# dont forget to add the .env file to the .gitignore, it contains sensitive information like database credentials and API keys.

node_modules
pizzariaDev.dump.sql
.next/
.next/cache/
src/generated
generated
npm-debug.log
yarn-debug.log
yarn-error.log
.env.main